h1 {
	/*margin-top: 1em;*/
	margin: 0;
	height: 2em;
	text-decoration: underline;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.4);
}

body {
	font-family: papyrus;
	color: #B0581B;
	font-size: 27px;
}

nav {
	width: 100%;
    height: 8em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    cursor: pointer;
}

/*navigation bar settings:...........*/

/*format for the whole navigation bar*/

a {
	color: #80bd9e;
}


#nav-bar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 5.7em;
    margin-top: 3em;
    margin-bottom: 2em;

}

/* TO DO: make js file that adds scrollign id to nav $('nav') */
/*nav#scrolling {
	position: fixed;
}*/


/*format for each navigation li*/
.nav-format {
	font-weight: bold;
	display: inline;
    height: 9%;
    width: 9%;
}

.nav-format:hover {
	color: #B0581B;
}

/*format of navigation links*/
.shape {
	margin-top: 0px;
	margin-left: 190px;
}

.shape.one{
	margin-right: 115px;
}

.shape.two {
	margin-left: 0.01em;
}

.shape.four {
	margin-left: 3em;
}


/*background image settings*/
.background-contact {
    z-index: -3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(images/background-contact.jpg);
    opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
}

p {
	text-align: center;
	z-index: 1;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1em;
}

.format {
	margin: 0; 
}

/*image settings:........*/

/*all image settings*/
.resize {
	float: left;
	height: 465px;
	width: 675px;
	margin-top: 0px;
	margin-top: 10px;
}

/*first image*/
.resize.one {
	margin-right: 10px;
	margin-left: 10px;
	border: 4px;
	border-style: double;
	border-color: black;
}

.resize.two {
	margin-left: 35px;
	border: 4px;
	border-style: double;
	border-color: black;
}

.width {
	padding-left: 250px;
	padding-right: 250px;
	background-color: rgba(0,0,0,0.4);
}

